$margin-top: 15px;
.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  img:hover {
    cursor: pointer;
  }
  span {
    font-size: 0.7em;
  }
}

a.gallery-link {
  background: none;
}

.column {
  margin: 0 5% 0 0;
  flex: 27%;
  max-width: 27%;
}
.column img {
  vertical-align: middle;
  width: 100%;
}
.column img:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 48%;
    max-width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
