.coffee-body {
  $scalable: 0.8;
  width: 200px * $scalable;
  height: 200px * $scalable;
  @mixin center() {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  @mixin horizontalCenter() {
    left: 50%;
    transform: translate(-50%, 0);
  }
  * {
    position: absolute;
  }
  $lid: linear-gradient(
    grey 5%,
    white 5%,
    white 33%,
    grey 35%,
    grey 36%,
    white 40%,
    white 80%,
    grey 80%,
    white
  );
  $cup-color: rgba(255, 255, 255, 0.6);
  $cup-border-radius: 35px 35px 25px 25px;
  $coffee: linear-gradient(#261911 65%, #8c2a03 95%);
  .coffee-drink {
    @include center();
    position: relative;
  }

  .cup {
    background: $cup-color;
    height: 150px * $scalable;
    width: 100px * $scalable;
    border-radius: 35px 35px 25px 25px;
    box-shadow: 2px 2px 8px darken($cup-color, 30%);
    @include center();
    .logo {
      color: white;
      z-index: 100;
      top: 70px;
    }
    .straw {
      bottom: 15px;
      height: 190px * $scalable;
      width: 12px * $scalable;
      background: black;
      @include horizontalCenter();
      z-index: 200;
      animation: rotateStraw 6s linear infinite;
    }
    .lid {
      z-index: 201;
      top: -10px;
      border-radius: 5px 5px 5px 5px;
      width: 85px * $scalable;
      height: 20px * $scalable;
      background-image: $lid;
      @include horizontalCenter();
    }
    .handle {
      width: 15px * $scalable;
      height: 73px * $scalable;
      right: -30px * $scalable;
      background: transparent;
      top: 32px * $scalable;
      border-radius: 5px 25px 25px 5px;
      border: solid 8px $cup-color;
      box-shadow: inset 2px 8px 8px darken($cup-color, 30%);
    }
  }

  .coffee-content {
    animation: drinking 8s linear infinite;
    background: $coffee;
    height: 125px * $scalable;
    bottom: 10px;
    width: 90px * $scalable;
    border-radius: 20px 20px 25px 25px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .bottom-row {
    bottom: 10px;
    animation: disappear 8s linear infinite;
  }
  .top-row {
    bottom: 22px;
    animation: disappearLast 8s linear infinite;
  }
  .middle-row {
    bottom: 16px;
    animation: disappearSecond 8s linear infinite;
  }
  ul {
    top: 350px;
    list-style: none;
    position: absolute;
    width: 400px * $scalable;
    @include horizontalCenter();
  }
  li.color {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    position: relative;
    color: lighten(black, 20%);
    font-size: 20px;
    cursor: pointer;
    padding: 12px;
  }

  li:hover {
    color: lighten(black, 50%);
  }

  @keyframes drinking {
    from {
      height: 125px * $scalable;
      opacity: 1;
    }
    to {
      height: 0 * $scalable;
      opacity: 1;
    }
  }

  @keyframes disappear {
    0%,
    50% {
      opacity: 1;
    }
    51%,
    100% {
      opacity: 0;
    }
  }
  @keyframes disappearSecond {
    0%,
    70% {
      opacity: 1;
    }
    71%,
    100% {
      opacity: 0;
    }
    0%,
    50% {
      bottom: 16px;
    }
    51%,
    100% {
      bottom: 7px;
    }
  }

  @keyframes disappearLast {
    0%,
    92% {
      opacity: 1;
    }
    93%,
    100% {
      opacity: 0;
    }
    0%,
    50% {
      bottom: 22px;
    }
    51%,
    70% {
      bottom: 16px;
    }
    71%,
    100% {
      bottom: 7px;
    }
  }

  @keyframes rotateStraw {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      left: 50%;
      transform: rotate(4deg) translate(-50%, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      left: 50%;
      transform: rotate(-4deg) translate(-50%, 0);
    }
  }
}
