.croissant-illustration {
  $scalable: 0.4;
  * {
    position: absolute;
  }
  $text-color: #012156;
  $plate-color: #ffffff;
  $dark-croissant-color: #b35900;
  $background-color: #fcedd3;
  $light-croissant-color: #ffcc00;
  .croissant {
    left: 150px * $scalable;
    width: 200px * $scalable;
    height: 270px * $scalable;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plate {
    background: $plate-color;
    width: 400px * $scalable;
    height: 400px * $scalable;
    border-radius: 50%;
    box-shadow: 3px * $scalable 5px * $scalable 5px * $scalable
      darken($plate-color, 40%);
  }

  .dark {
    background-image: linear-gradient(
      to right,
      #4d2600,
      $dark-croissant-color,
      $light-croissant-color
    );
  }
  .light {
    background-image: linear-gradient(
      to right,
      $dark-croissant-color,
      $light-croissant-color
    );
  }

  .croissant-piece {
    z-index: 1;
    height: 40px * $scalable;
    left: 50%;
    transform: translate(-50%, 0);
    &.point-one {
      top: 0;
      width: 100px * $scalable;
      height: 100px * $scalable;
      border-radius: 100% 0% 100% 0% / 60% 46% 54% 40%;
    }
    &.pos0 {
      top: 40px * $scalable;
      width: 130px * $scalable;
    }
    &.pos1 {
      top: 70px * $scalable;
      width: 150px * $scalable;
    }
    &.pos2 {
      top: 145px * $scalable;
      width: 150px * $scalable;
    }
    &.center {
      border-radius: 25%;
      width: 180px * $scalable;
      height: 50px * $scalable;
      top: 100px * $scalable;
    }
    &.pos3 {
      top: 180px * $scalable;
      width: 140px * $scalable;
    }
    &.point-two {
      z-index: 0;
      top: 160px * $scalable;
      width: 100px * $scalable;
      height: 100px * $scalable;
      border-radius: 0% 100% 0% 100% / 40% 60% 46% 54%;
    }
    &.top {
      border-radius: 25% 25% 0 0;
    }
    &.bottom {
      border-radius: 0 0 25% 25%;
    }
  }
}
