@import url("https://fonts.googleapis.com/css?family=Roboto|Josefin+Sans|Roboto+Mono|Rancho");

html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto Mono";
  color: #474747;
  font-size: 18px;
}
h1,
h2,
h3 {
  margin: 0 0 0.2em 0;
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  font-size: 3em;
  letter-spacing: 10px;
  color: black;
}

h2 {
  font-size: 2em;
}

h3,
.caption {
  font-size: 0.9em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: 10% 0% 0% 10%;
  p {
    max-width: 600px;
    line-height: 1.5em;
    color: black;
  }
  .intro {
    margin-top: 1.5em;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: 5% 0% 10% 10%;
  line-height: 1.1em;
}
.project-gallery {
  margin-top: 50px;
}
img.portrait,
.portrait {
  position: relative;
  float: right;
  padding: 0;
  margin: 2em 22% 0 2em;
  width: 200px;
  border-radius: 50%;
}

.emphasis {
  background: #ffbee0;
}
.coded-portrait {
  position: relative;
}

a.text-link {
  color: black;
  text-decoration: none;
  padding: 3px 5px;
  border-bottom: 2px solid #c4dfe6;
  background: 0;
}
a.text-link:hover {
  padding: 3px 5px;
  background: #66a5ad;
  color: white;
}
ul li {
  float: left;
  width: 10em;
  list-style: none;
  margin-bottom: 2em;
  font-size: 0.9em;
}

.email {
  color: grey;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 700px) {
  img.portrait,
  .portrait {
    float: none;
    position: relative;
    left: 50%;
    top: 2%;
    transform: translateX(-50%) scale(0.8);
    border-radius: 50%;
    box-shadow: none;
  }
  .content {
    margin-top: 0;
    margin: 0 5% 0 5%;
  }
  .project-section {
    margin: 5% 5% 0 5%;
  }
  body {
    font-size: 14px;
  }
} //phone
