$sizer: 0.8;
$heart-size: 70px;
$heart-size-2: $heart-size/2;
$heart-color: #ff4081;
$background-color: #ffa7b4;
$background-color-1: #cfb7fe;
$nose-color: #d6b698;
$skin-color: #ffe0bd;
$face-height: 120px;
$face-width: 105px;
$hair-color: #474747;

@mixin center() {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
@mixin horizontallyCenter() {
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  left: 50%;
}

.code-me {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fffdd0;
  border: 4px solid darken(#c4dfe6, 15%);
  @include horizontallyCenter();
  height: 200px;
  width: 200px;
  border-radius: 25px;
  .heart {
    position: absolute;
    font-size: 87px;
    z-index: 200;
    @include horizontallyCenter();
    top: 50%;
    color: #ea6b7c;
  }
  .css {
    position: absolute;
    font-size: 0.7em;
    color: grey;
    bottom: -2em;
    @include horizontallyCenter();
  }
}

//================
//FACE
//================
.girl {
  top: 20px;
  position: absolute;
  @include horizontallyCenter();
}

.hair {
  position: absolute;
  top: -10px;
  @include horizontallyCenter();
  width: $face-width + 30px;
  height: 160px;
  background: lighten($hair-color, 5%);
  border-radius: 100px 100px 25px 025px;
}
.face {
  position: absolute;
  top: 8px;
  z-index: 8;
  @include horizontallyCenter();
  width: $face-width;
  height: $face-height;
  background: $skin-color;
  border-radius: 50px 50px 50px 50px;
}

.eyes {
  position: absolute;

  top: 50px;
  height: 10px;
  width: $face-width;
  @include horizontallyCenter();
}
.eye {
  position: absolute;

  height: 15px;
  width: 15px;
  background: $hair-color;
  border-radius: 50%;
  &.right {
    left: 22px;
  }
  &.left {
    right: 22px;
  }
}
.cheeks {
  position: absolute;
  top: 70px;
  width: $face-width;
  @horizontallyCenter();
  .cheek {
    position: absolute;

    border: none;
    opacity: 0.8;
    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
    width: 25px;
    height: 10px;
    border-radius: 50%;
    background: pink;
  }
}

.eye:after {
  position: absolute;

  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 2px;
  left: 2px;
  background: white;
  border-radius: 50%;
}

.eyebrows {
  position: absolute;
  top: 42px;
  @include horizontallyCenter();
  width: $face-width;
  .eyebrow {
    position: absolute;
    border: 1.5px solid $hair-color;
    border-radius: 50%/100% 100% 0 0;
    width: 20px;
    background: $hair-color;
    &.left {
      left: 16px;
    }
    &.right {
      right: 16px;
    }
  }
}

.nose {
  position: absolute;

  top: 65px;
  left: 50%;
  transform: translate(-50%, 0) rotate(35deg);
  -webkit-transform: translate(-50%, 0) rotate(35deg);
  border: 0.5px solid $nose-color;
  border-radius: 50% 100% 0 0;
  height: 10px;
}
.nose:after {
  position: absolute;

  content: "";
  top: 9px;
  left: -1px;
  border: 0.5px solid $nose-color;
  width: 7px;
}
.bangs {
  position: absolute;

  width: $face-width;
  @include horizontallyCenter();
  z-index: 200;
  .bang {
    position: absolute;

    left: 50px;
    top: -5px;
    height: 50px;
    width: 22px;
    border-radius: 50%;
    background: lighten($hair-color, 5%);
    &.one {
      left: 0px;
      top: 5.5px;
    }
    &.two {
      top: 0px;
      left: 14px;
    }
    &.three {
      left: 28px;
      height: 54px;
    }
    &.four {
      left: 45px;
      height: 54px;
    }
    &.five {
      left: 60px;

      top: -3px;
    }
  }
}

.mouth {
  position: absolute;

  height: 15px;
  width: 30px;
  border-radius: 0 0 100px 100px;
  top: 70%;
  left: 51%;
  background: #e58079;
  border-top: 4px solid white;
  transform: translate(-50%, 0);
}
