---
---

@import "_vars";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 overflow-wrap: break-word;
 line-height: 1.5em;
 color: #3a3a3a;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.site-nav {
  padding: 1.5rem 0em;
}

/**
 * Wrapper
 */
 .wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

/**
 * Clearfix
 */
 %clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure {
  margin-bottom: $spacing-unit / 2;
 }
 
.post-meta {
  font-size: 0.85rem;
}

a {
    color: #763d77;;
    text-shadow: none;
    background-image: none;
    text-decoration: underline #851887;;

    &:hover {
      color: #851887;
      text-decoration: none;
    }
}

/**
 * Site header
 */
 .site-header {
  border-top: 5px solid #94658c;
  border-bottom: 1px solid #94658c;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}
