h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
a {
  color:rgb(66, 65, 77);
  text-shadow: none;
  background-image: none;
  text-decoration: underline;

  &:hover {
    color: #94658c
  }
}
.tags {
  background-color: #94658c
}
